.user {
  .headerr {
    h2 {
      font-family: "Rubik";
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: #000000;

      margin-left: 320px;
      margin-top: -90px;
    }
  }

  .rem {
    .fott {
      transform: translateY(100px);
    }
  }
}
